<!doctype html>
<html ng-app>

<head>
    <title>HW CRM App</title>
    <script src='/static/js/angular.min.js'></script>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <script src='/static/js/todo.js'></script>
    <link rel='stylesheet' href='/static/css/todo.css'>
</head>
<body>
<div class='container' ng-controller='LogIn'>
    <h1 class='charcoal rounded-box'>CRM Demo</h1>
    <h3>Hey you are logged in successfully</h3>
    <a href="test/todo">click here for TODO</a>
</div>
</body>
</html>
